# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Dependency directories & Virtual Environments
.Python
venv/
.venv/
env/
ENV/
node_modules/

# Environment variables file (contains sensitive info)
.env

# Docker artifacts
*.dockerignore
docker-compose.override.yml

# Flask specific
# Instance folder (good practice to ignore, even with .env)
instance/
backend/instance/

# Flask-Assets cache
backend/static/webassets-cache/
backend/static/.webassets-cache/
backend/static/gen/

# Frontend specific (if build step generates files, e.g. webpack, npm)
dist/
build/

# Node.js and Vite
/node_modules
.vite

# Operating System files
.DS_Store
**/.DS_Store
Thumbs.db

# Editor/IDE specific files
.vscode/ # Visual Studio Code
.idea/ # IntelliJ IDEA

# Logs
*.log
/logs/

# Uploaded files (if users can upload)
/uploads/